@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    font-family: 'Jost', sans-serif;

}

.pages-body {
    max-width: 600px;
    margin: auto;
    color: white;
}

.me-box {
    margin-top: 50px;

    border-radius: 2.5%;
    height: 300px;
    width: 220px;
    background-color: rgba(22, 21, 21, 0.589);
}

.presentation {
    display: flex;
}

.summary {
    margin-top: 14.5px;

    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.summary-text {
    margin-top: 30px;
    font-size: 37.5px;
}

.summary-text-p {
    margin-top: -10px;
    font-size: 22px;
    color: #929292;

}

.me-box-avatar {
    margin-top: 40px;
    margin-left: 22%;

    border-radius: 50%;
    width: 125px;
}

.me-box-name {
    background-color: #20202000;
    text-align: center;
    font-size: 25px;
}

.me-box-name2 {
    background-color: #20202000;
    color: #504e4ec5;
    margin-top: -15px;
    text-align: center;
    font-size: 15px;

}