.footer {
   margin-top: 50px;
   margin-left: -15px;

}

.footer-component-img {
   margin-left: 7.5px;
   margin-bottom: 50px;
}

.footer-img-container {
   margin: 10px;
}

.footer-img {
   height: 30px;
   width: 30px;

   cursor: pointer;
   transition-duration: 400ms;
}

.footer-img:hover {
   opacity: 60%;
}